html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main {
  padding: 0;
  margin: auto;
  max-width: 90%;
  margin-top: 20px;
  min-height: 100vh;
  padding-bottom: 200px;
}

mat-spinner {
  width: 100%;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

div.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-around;

  div.flex-item {
    flex-grow: 1;
  }

  .m5 {
    margin: 5px;
  }

  .m15 {
    margin: 15px;
  }
}

.error-message {
  margin-bottom: 0;
  text-transform: capitalize;
  color: #f44336;
}

.card-container {
  left: 0;
  right: 0;
  margin: auto;
}

@media only screen and (min-width: 769px) and (max-width: 1239px) {
  .card-container {
    width: 90%;
  }
}

@media only screen and (min-width: 1240px) {
  .card-container {
    width: 60%;
  }
}
